@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 13px;
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}